@charset "UTF-8";
/* CSS Document */
*{transition:0.4s; webkit-transition:0.4s}
body{margin:0; padding:0;}

img{
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
}

/*.svglogo{
	width:50px;
	display: inline-block;
	text-align: left;
	margin:0px 0 0 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor:pointer;
}*/
#nav img{
	width:50px;
	display: inline-block;
	text-align: left;
	margin:0px 0 0 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor:pointer;
}

#nav li{
	list-style: none;
	text-align: center;
	display: inline-block;
	margin:-15px 15px;
	font-family:"Comic Sans MS";
	padding:20px;
}
#nav li:hover{
	background-color:#EFEFEF
}
#nav li a{color:black; text-decoration: none;}
#nav li a:hover{color:black; text-decoration: underline;}

#nav{
	position:fixed;
	top:0;
	width:100vw;
	background-color:rgba(255,255,255,0.50);
	padding-top:15px;
	z-index: 100;
}
#nav.scroll{
	background-color:rgba(255,255,255,1.00) !important;
	box-shadow: 0 5px 5px -5px #333;
}
.pos-f-t{display:none;}
.pos-f-t li{display:inline-block; margin: 0 5px;}

/*#shop-for{
	position:fixed;
	top:65px;
	right:0;
	background-color:rgba(255,255,255,0.50);
}
#shop-for.scroll{
	background-color:rgba(255,255,255,1.00) !important;
	box-shadow: 0 5px 5px -5px #333;
}*/

.carousel-inner{
	background-size: contain;
	z-index: -1;
}
.img-fluid{width:100vw; height:auto;}
.carousel-indicators{margin:30px 0;}

#c_footer{
	background-color:#509F39;
	width:100vw;
	margin:0;
}
#c_footer p{font-family:"Futura"; color:white; display:inline;}
#c_footer img{
	text-align:center;
	display:inline;
	margin:-30px 0;
	z-index:99;
}
#c_container{margin-left:17px;}


.shopping-item:hover .item-description{top: 0;}
.item-description {
  position: absolute;
  top:100%; right: 0; bottom: 0; left: 0;
  
  background: rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%; 
	border-radius:15px;
	font-size:20px;
	
	display:flex;
	justify-content: center;
  flex-direction: column;
  
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.shopping-item {
  position: relative;
  border-radius:15px;
	padding:20px;
	background-color:#f1f1f1;
	margin:20px;
	display:inline-block;
}
.shopping-item img {
  width: 300px;
}

.color{width:15px; height:15px; border-radius:100%; display:inline-block; text-align: center; margin:0 3px;}
.blue{background-color:#3e4967;}
.gray{background-color:#757575;}
.brown{background-color:#170E0E;}

#footer{
	width:100vw;
	background-color:#363636;
	padding:20px;
}
#footer #keep_up{color:white; font-family: 'Rubik', sans-serif; font-size: 18px;}
#footer input,button{height:3rem; border:none;}
#footer button{background-color:#509F39; border-radius:0 15px 15px 0; cursor:pointer; padding-right:10px;}
#footer input{border-radius:15px 0 0 15px; padding-left:15px; width:350px;}
#social li{font-size:35px; margin:5px 15px;}
#social li:hover{filter:brightness(170%); cursor:pointer;}

#right,#left{display:inline-block;}
#right{right:50px; position:absolute;}
.tri{
	color:white; 
	font-size:18px; 
	font-style:bold;
	display:inline-block;
	margin:10px 20px;
}
.tri p{font-size:13px; font-style:oblique; cursor:pointer;}

#footer2{
	font-size:15px;
	margin:0;
	padding:20px;
}
#footer2 span{position:absolute; right:20px;}
#footer2 p{margin-bottom:0;}


@media screen and (max-width: 880px) {
  #nav {display:none}
	.pos-f-t{display:block;}
	.img-fluid{height:auto; object-fit: contain;}
	#right{position:relative; right:0; margin-top:50px;}
	
}
@media screen and (max-width: 800px) {
	#footer2 span{position:absolute; left:20px; margin-top:40px; margin-bottom:15px;}
}